.App {
  display: flex;
  justify-content: center;
  margin: 250px;  
}

body {
  background-color: whitesmoke;
}

.form-control {
  margin-bottom: 20px;
}

.formLabelContainer {
  font-family: 'Dancing Script', cursive;
  color: #24291e;
  transition: opacity .4s;
  font-weight: bold;
}

.iconButtonContainer {
  margin: 25px;
  float: right;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.iconButtonContainer:focus {
  color: #0aa33c;
}

.input-container {
  display: flex;
  align-items: inherit;
  padding: 50px;
}

.inputFields {
  width: 100%;
  padding: 5px;
  justify-content: space-between;
}

.textEditor {
  color: #242924;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}